body {
    background-color: #EAF6F6;
  }
  
  h1{
    color: #66bfbf;
    font-style: normal;
    }

    h3{
      color:   #66bfbf;
      font-style: italic;
    }
  hr{
    
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }
  img {
    height: 350px;

  
  
  }